{% extends 'base.html' %}

{% block title %}
        URL-SHORTNER
{% endblock title %}
{% block main %}





<form action="your_url" method="POST">
    <label for="">Website URL:</label>
    <input type="url" name="url1" value="" required >
    <br>
    <br>
    <label for="" >Short Name:</label>
    <input type="text" name="code" value="" required >
    <br>
    <input type="submit" value="Shorten">
</form>

<form action="your_url" method="POST" enctype="multipart/form-data">
    <label for="">File:</label>
    <input type="file" name="file1" value="" required >
    <br>
    <br>
    <label for="" >Short Name:</label>
    <input type="text" name="code" value="" required >
    <br>
    <input type="submit" value="Shorten">
</form>


{% if codes %}
<h2>Codes you have created.</h2>
<ul>
    {% for code in codes %}
    <a href="{{ url_for( 'redirect_to_url' , code=code) }}">
    <li>{{ code }}</li>
    </a>
    {% endfor %}
</ul>

{% endif %}



    
{% endblock main %}